@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Nunito&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Roboto", Arial, Helvetica, sans-serif;
}

body {
  min-width: 300px;
  max-width: 1905px;
  background: url("../images/pattern.png");
  background-repeat: repeat;
}

ul {
  list-style-type: none;
}

h2, h3 {
  font-family: "Gemunu Libre", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 10px;
}

p, label {
  font-size: 0.9em;
  margin: 10px;
}

h1 {
  font-family: "Gemunu Libre", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 5px 0 10px 0;
}

li, a {
  text-decoration: none;
  font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
  color: #fff;
}

/**************************************************************
                         HEADER
**************************************************************/
header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.9);
  box-shadow: 1px 1px 2px 1px rgba(60, 60, 60, 0.8);
}

.fa-bars {
  color: #822568;
  font-size: 30px;
  margin: 2px 0 2px 20px;
}

.nav-fixe {
  width: 100%;
  cursor: pointer;
}
.nav-fixe #menu {
  opacity: 0;
}
.nav-fixe #menu:checked + .deroulant {
  height: 100%;
}
.nav-fixe .deroulant {
  width: 100%;
  height: 100px;
  font-size: 20px;
  height: 0px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  transition: height 0.1s ease-in-out;
}
.nav-fixe .deroulant li {
  margin: 5px;
}
.nav-fixe .deroulant li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/**************************************************************
                         FOOTER
**************************************************************/
/* Section contact */
footer {
  bottom: 0px;
  width: 100%;
  color: #fff;
}

#contact {
  width: 100%;
  padding: 10px;
  background-color: #ec9f11;
}

.fondAnimer {
  width: 100%;
  height: 80px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background: url("../images/ciel.png"), rgba(60, 60, 60, 0.5);
  box-shadow: 1px 1px 2px 5px rgba(60, 60, 60, 0.3);
}

/**************************************************************
                         BODY
**************************************************************/
main {
  width: 100%;
  color: #fff;
}

/* Section hero */
#hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-top: 30px;
  background-color: black;
}
#hero .avatar {
  width: 50%;
  max-width: 200px;
  min-width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  margin: 20px 5px 5px 5px;
  background-color: #fff;
}
#hero .presentation {
  text-align: center;
}
#hero .presentation h1 {
  font-size: 1.8em;
  font-weight: bold;
}
#hero .presentation p {
  font-style: oblique;
  margin-top: 2%;
}

#aPropos, #competences, #formations, #parcours, #realisations, .commentaire {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentaire, .softskills, .techniques, .outils, .capacites, .environnement {
  color: #301550;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
}
.commentaire h2, .softskills h2, .techniques h2, .outils h2, .capacites h2, .environnement h2 {
  font-size: 1.5em;
}

/* Section aPropos */
#aPropos .commentaire {
  text-align: justify;
}
#aPropos .commentaire h3 {
  color: #822568;
  font-size: 1em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}
#aPropos .softskills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  padding: 10px;
}
#aPropos .softskills .atouts {
  display: block;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ec9f11;
}

/* Section competences */
#competences {
  background-color: #301550;
  /* Gérer les cartes de l'espace capacités */
  /* Gérer l'espace des compétences techniques */
  /* Gérer l'espace des outils techniques */
}
#competences .capacites, #competences .techniques, #competences .outils, #competences .environnements {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
}
#competences .carte {
  display: flex;
  width: 100%;
  min-width: 260px;
}
#competences .carte .-image {
  align-self: center;
  font-size: 40px;
}
#competences .carte .-image .fa-mobile-screen-button {
  padding-left: 8px;
}
#competences .techniques .-jauge {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  max-width: 500px;
}
#competences .techniques label {
  padding: 5px;
  margin: auto;
  font-size: 0.8em;
  font-weight: bold;
}

/* Section formations */
#formations {
  background-color: #822568;
}

/* Section parcours */
#parcours {
  background-color: #ec9f11;
}

/* Section realisations */
#realisations {
  background-color: #301550;
}

/* Section passions */
#passions {
  background-color: #822568;
}/*# sourceMappingURL=style.css.map */