@import "./utils/variables";
@import "./base/fondations";
@import "./misenpage/header";
@import "./misenpage/footer";
@import "./composants/animations";

/**************************************************************
                         BODY
**************************************************************/
main
{
    width: 100%;
    color: #fff;
}

/* Section hero */
#hero
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-top: $distanceTop;
    background-color: black;   
    & .avatar
    {
        width: 50%;
        max-width: 200px;
        min-width: 150px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        padding: 5px;
        margin: 20px 5px 5px 5px;
        background-color: #fff;
        
    }
    & .presentation
    {
        text-align: center;
        & h1
        {
            font-size: 1.8em;
            font-weight: bold;
        }
        & p
        {
            font-style: oblique;
            margin-top: 2%;
        }
    }
}

#aPropos, #competences, #formations, #parcours, #realisations, .commentaire
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.commentaire, .softskills, .techniques, .outils, .capacites, .environnement
{
    width: 90%;
    color: $primaire;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9); 
    & h2
    {
        font-size: 1.5em;
    }
}

/* Section aPropos */
#aPropos
{
    & .commentaire
    {               
        text-align: justify;                    
        & h3
        {
            color: $secondaire;
            font-size: 1em;
            font-style: italic;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    & .softskills
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        padding: 10px;          
        & .atouts
        {
            display: block;
            padding: 5px;
            margin: 5px;
            font-weight: bold;
            border-radius: 10px;
            background-color: $tertiaire;            
        }
    }

} 

/* Section competences */
#competences
{
    background-color: $primaire ; 
   & .capacites, .techniques, .outils, .environnements
   {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    max-width: 500px;
   } 
     /* Gérer les cartes de l'espace capacités */
   & .carte
   {
       display: flex;
       width: 100%;
       min-width: 260px;
       //max-width: 300px ;
       //border: 1px deeppink solid;
       & .-image
       {
        align-self: center;
        font-size: 40px;
        & .fa-mobile-screen-button
        {
            padding-left: 8px;
        }
       }
   }
   /* Gérer l'espace des compétences techniques */
   & .techniques
   {
    & .-jauge
    {
        display: flex;
        flex-wrap: wrap;
       
    }
    & label
    {
        padding: 5px;
        margin: auto;
        font-size: 0.8em;
        font-weight: bold;
    }
   }
   /* Gérer l'espace des outils techniques */
   & .-icones
   {
    display: flex;

   }

   
}

/* Section formations */
#formations
{


    background-color: $secondaire ; 
}

/* Section parcours */
#parcours
{


    background-color: $tertiaire ; 
}

/* Section realisations */
#realisations
{


    background-color: $primaire ; 
}

/* Section passions */
#passions
{


    background-color: $secondaire ; 
}
