@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Nunito&family=Roboto&display=swap');


* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-width: 300px;
    max-width: 1905px;
    background: url("../images/pattern.png");
    background-repeat: repeat;
}
ul
{
    list-style-type: none;
}
p, h2, h3
{
    font-family: "Nunito","Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin: 10px;
}
h1
{
    font-family: "Gemunu Libre","Roboto", Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 5px 0 10px 0;
}
li, a
{
    text-decoration: none;
    font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
    color: #fff;
}